.center-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.center-form-container > .col-12 {
  margin: 0 auto;
  float: none;
}

.form-group {
  background-color: #e3f2fd;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 32px;
}
.form-group label {
  font-weight: bold;
}
.form-group {
  margin-top: 32px;
}